[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "==18.9b0"
isort = "*"
tox = "*"
tox-pyenv = "*"
twine = "*"
yolk3k = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
jupyter = "*"
tornado = "<6"
requests = "*"
cognite-sdk = "==1.0.*"

[requires]
python_version = "3.7"
